<html ⚡4email>
	<head>
	<meta charset="utf-8">
	<style amp4email-boilerplate>body{visibility:hidden}</style>
	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-anim" src="https://cdn.ampproject.org/v0/amp-anim-0.1.js"></script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

		body{
			background-color: #e5e5e5;
			max-width: 800px;
			width: 90%;
			padding: 40px;
			font-family: "Roboto",sans-serif;
		}

		section{
			background-color: #0d6efd;
			color: #fff;
			padding: 30px;
		}

		p{
			font-size: 18px;
		}

		a {
			color: #fff !important;;
		}

		a:hover{
			color: #15c !important;
		}

		.text-center{
			text-align: center;
		}
	</style>
	</head>
	<body>
		<main>
			<section>
				<h1 class="text-center">¡Gracias por escribir! </h1>
				<p class="text-center">Es un placer atenderle, en breve me pondre en contacto. </p>

				<div class="text-center">
					<!-- <amp-anim src="https://media.giphy.com/media/pRN57fPeBvuYE/giphy.gif" width="350" height="286"/></p>
					<iframe src="https://giphy.com/embed/pRN57fPeBvuYE" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pRN57fPeBvuYE">via GIPHY</a></p> -->
					<!-- <img src="http://localhost:8081/assets/img/charmadel.gif" alt="" width="350" height="286"> -->
					
						<img src="https://res.cloudinary.com/dob2hrxjo/image/upload/v1617155232/Assets/codeThanks_vd2nib.png" alt="code" />
					
				</div>
				<br>
				<p class="text-center">
					<a href="#">
						Echa un vistazo a mi CV!!!
					</a>
				</p>
				<p class="text-center">
					<a href="#">
						Visita mi página
					</a>
				</p>
				<br />
				<p style="text-align: center; font-size: 14px;">
					 By Erick Alberto Alva Vazquez - 2021 
					<br />
					<br />
					Este correo fue enviado desde una dirección solamente de notificaciones que no puede aceptar correo electrónico entrante. Por favor no responda a este mensaje.
				</p>
			</section>
		</main>
	</body>
</html>